.container {
    display: flex;
    align-items: center;
}

a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    cursor: auto;
    padding: 15px;
}

.gmail {
    margin-left: auto;
}

#avatar {
    height: 32px;
    font-weight: 32px;
    border-radius: 50%;
}

#box {
    height: 15px;
    font-weight: 15px;
}

#box:hover {
    height: 15px;
    font-weight: 15px;
    content: url("apps-3.png");
}