body {
    
}
.up-left {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    margin: 26px 5px;
}
.up-right {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 5px;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 5px;
    
}

img {
    border-radius: 50%;
}