html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.container {
    display: flex;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    cursor: auto;
    padding: 15px;
}

a:hover {
    text-decoration: underline;
}

.split {
    margin-left: auto;
}

#avatar {
    height: 32px;
    font-weight: 32px;
    border-radius: 50%;
}

#box {
    transition-timing-function: ease-in-out;
    height: 15px;
    font-weight: 15px;
}

#box:hover {
    transition-timing-function: ease-in-out;
    height: 15px;
    font-weight: 15px;
    content: url("img/apps-3.png");
}

main {
    flex-grow: 1;
}
#logo {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    margin: 30px auto;
    width: 482px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 25px;
}

#search {
   width: 427px;
   height: 34px;
   border-style: none;
   font-size:20px;
   font-family: arial,sans-serif;
}

input:focus {
    outline:none;
}

.search-bar:hover {
    transition-timing-function: ease-in-out;
    box-shadow:1px 1px 5px grey; 
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    transition-timing-function: ease-in-out;
    width: 123px;   
    height: 36px;
    margin: 10px;
    border-style: none;
    background-color: #f8f9fa;
    color: #202124;
    border-radius: 5px;
    font-size: 15px;   
}

button:hover {
    transition-timing-function: ease-in-out;
    border: 1px solid #dadce0;
    cursor: pointer;
}

.de {
    margin-left: 30px;
    text-align: left;
    
}

footer {
    margin: 0;
    padding: 15px;
    font-size: 15px;
    background: #f2f2f2;
    border-top: 1px solid #dadce0;
}

header, main, footer {
    flex-shrink: 0;
}